#main-content {
  padding-top: 5px;
  margin-left: 80px;
}

nav.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}

.sidebar {
  width: 80px;
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-link i {
  font-size: 1.2rem;
}

.nav-link:hover {
  background-color: #3596fd;
}